# 0.Bases Usadas

- [class_datasets](https://github.com/gnlins/class_datasets)

# 0.1. Importando bibliotecas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1.Analise Video Games

- Perguntas Sobre o dataset videoGames:
    - Qual video game é o mais vendido? Wii Sports
    - Qual é o video game mais antigo? Asteroids (entre outros) E o mais recente? Imagine: Makeup Artist
    - Quais são jogos criados pela Activision
    - Qual Console com maior acervo de jogos?
    - Quais jogos estão disponiveis em todos os consoles?
    - Entre 2000 e 2010 quantos jogos foram lançados?
    - Qual é a media de vendas global por fabricante?

## Metadados

This dataset contains a list of video games with sales greater than 100,000 copies. It was generated by a scrape of vgchartz.com.

- Fields include:

  - Rank - Ranking of overall sales

  - Name - The games name

  - Platform - Platform of the games release (i.e. PC,PS4, etc.)

  - Year - Year of the game's release

  - Genre - Genre of the game

  - Publisher - Publisher of the game

  - NA_Sales - Sales in North America (in millions)

  - EU_Sales - Sales in Europe (in millions)

  - JP_Sales - Sales in Japan (in millions)

  - Other_Sales - Sales in the rest of the world (in millions)

  - Global_Sales - Total worldwide sales.

The script to scrape the data is available at https://github.com/GregorUT/vgchartzScrape.
It is based on BeautifulSoup using Python.
There are 16,598 records. 2 records were dropped due to incomplete information.

In [3]:
PATH = "https://raw.githubusercontent.com/gnlins/class_datasets/main/VendaDeVideoGames/vgsales.csv"

vendas_vg = pd.read_csv(PATH)

In [4]:
vendas_vg.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
vendas_vg['Global_Sales'].max()

82.74

In [6]:
vendas_vg.loc[vendas_vg["Global_Sales"].idxmax()]["Name"]

'Wii Sports'

In [11]:
vendas_vg[vendas_vg.Global_Sales > 30]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01

In [14]:
print(vendas_vg[vendas_vg["Global_Sales"]==vendas_vg["Global_Sales"].max()]["Name"][0])

Wii Sports

In [18]:
vendas_vg[vendas_vg["Year"]==vendas_vg["Year"].max()]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
5957,5959,Imagine: Makeup Artist,DS,2020.0,Simulation,Ubisoft,0.27,0.0,0.0,0.02,0.29

In [28]:
vendas_vg[vendas_vg["Year"]==vendas_vg["Year"].max()]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
5957,5959,Imagine: Makeup Artist,DS,2020.0,Simulation,Ubisoft,0.27,0.0,0.0,0.02,0.29

In [31]:
vendas_vg[(vendas_vg["Year"]==vendas_vg["Year"].max())|(vendas_vg["Year"]==vendas_vg["Year"].min())]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
258,259,Asteroids,2600,1980.0,Shooter,Atari,4.00,0.26,0.0,0.05,4.31
544,545,Missile Command,2600,1980.0,Shooter,Atari,2.56,0.17,0.0,0.03,2.76
1766,1768,Kaboom!,2600,1980.0,Misc,Activision,1.07,0.07,0.0,0.01,1.15
1969,1971,Defender,2600,1980.0,Misc,Atari,0.99,0.05,0.0,0.01,1.05
2669,2671,Boxing,2600,1980.0,Fighting,Activision,0.72,0.04,0.0,0.01,0.77
4025,4027,Ice Hockey,2600,1980.0,Sports,Activision,0.46,0.03,0.0,0.01,0.49
5366,5368,Freeway,2600,1980.0,Action,Activision,0.32,0.02,0.0,0.00,0.34
5957,5959,Imagine: Makeup Artist,DS,2020.0,Simulation,Ubisoft,0.27,0.00,0.0,0.02,0.29
6317,6319,Bridge,2600,1980.0,Misc,Activision,0.25,0.02,0.0,0.00,0.27
6896,6898,Checkers,2600,1980.0,Misc,Atari,0.22,0.01,0.0,0.00,0.24

In [32]:
vendas_vg[(vendas_vg["Year"].idxmin())|(vendas_vg["Year"].idxmax())]

KeyError: 5959

In [20]:
vendas_vg.loc[vendas_vg["Year"].idxmin()]['Platform']

'2600'

In [21]:
vendas_vg.loc[vendas_vg["Year"].idxmin()]

Rank                  259
Name            Asteroids
Platform             2600
Year               1980.0
Genre             Shooter
Publisher           Atari
NA_Sales              4.0
EU_Sales             0.26
JP_Sales              0.0
Other_Sales          0.05
Global_Sales         4.31
Name: 258, dtype: object

In [23]:
vendas_vg.head().iloc[:3,:5]

   Rank               Name Platform    Year     Genre
0     1         Wii Sports      Wii  2006.0    Sports
1     2  Super Mario Bros.      NES  1985.0  Platform
2     3     Mario Kart Wii      Wii  2008.0    Racing

In [25]:
teste = vendas_vg.loc[vendas_vg["Year"].idxmin()]

In [29]:
print(vendas_vg[vendas_vg["Year"]==vendas_vg["Year"].max()])

      Rank                    Name Platform    Year       Genre Publisher  \
5957  5959  Imagine: Makeup Artist       DS  2020.0  Simulation   Ubisoft

      NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
5957      0.27       0.0       0.0         0.02          0.29

In [27]:
# print(teste)

Rank                  259
Name            Asteroids
Platform             2600
Year               1980.0
Genre             Shooter
Publisher           Atari
NA_Sales              4.0
EU_Sales             0.26
JP_Sales              0.0
Other_Sales          0.05
Global_Sales         4.31
Name: 258, dtype: object

In [39]:
max_year = vendas_vg.iloc[vendas_vg['Year'].idxmax()]['Year']
min_year = vendas_vg.iloc[vendas_vg['Year'].idxmin()]['Year']

filtro_year = [max_year, min_year]

vendas_vg.iloc[filtro_year]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
2020,2022,Bomberman,NES,1985.0,Puzzle,Hudson Soft,0.18,0.00,0.85,0.00,1.03
1980,1982,Imagine: Animal Doctor,DS,2007.0,Simulation,Ubisoft,0.45,0.49,0.00,0.11,1.05

In [40]:
idx_max_year = vendas_vg['Year'].idxmax()
idx_min_year = vendas_vg['Year'].idxmin()

filtro_year = [idx_max_year, idx_min_year]

vendas_vg.iloc[filtro_year]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
5957,5959,Imagine: Makeup Artist,DS,2020.0,Simulation,Ubisoft,0.27,0.00,0.0,0.02,0.29
258,259,Asteroids,2600,1980.0,Shooter,Atari,4.00,0.26,0.0,0.05,4.31

In [38]:
max_year

Rank                              5959
Name            Imagine: Makeup Artist
Platform                            DS
Year                            2020.0
Genre                       Simulation
Publisher                      Ubisoft
NA_Sales                          0.27
EU_Sales                           0.0
JP_Sales                           0.0
Other_Sales                       0.02
Global_Sales                      0.29
Name: 5957, dtype: object

In [34]:
vendas_vg.iloc[[vendas_vg['Year'].idxmax(), vendas_vg['Year'].idxmin()]]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
5957,5959,Imagine: Makeup Artist,DS,2020.0,Simulation,Ubisoft,0.27,0.00,0.0,0.02,0.29
258,259,Asteroids,2600,1980.0,Shooter,Atari,4.00,0.26,0.0,0.05,4.31

In [43]:
len(vendas_vg['Publisher'].unique())

579

In [47]:
vendas_vg['Publisher'].str.contains('Act')

0        False
1        False
2        False
3        False
4        False
         ...
16593    False
16594    False
16595     True
16596    False
16597    False
Name: Publisher, Length: 16598, dtype: object

In [53]:
vendas_vg['Publisher'].str.contains('Act', na=False).unique()

array([False,  True])

In [57]:
vendas_vg['Publisher'].str.contains('Act', na=False).value_counts()

False    15593
True      1005
Name: Publisher, dtype: int64

In [60]:
vendas_vg['Publisher'].str.contains('Act').value_counts(dropna=False)

False    15535
True      1005
NaN         58
Name: Publisher, dtype: int64

In [59]:
vendas_vg['Publisher'].str.contains('Act',na=True).value_counts()

False    15535
True      1063
Name: Publisher, dtype: int64

In [54]:
vendas_vg['Publisher'].str.contains('Act').unique()

array([False, True, nan], dtype=object)

In [61]:
# vendas_vg[vendas_bg['publisher'] if vendas_bg['publisher'].str.contains('act')]

SyntaxError: expected 'else' after 'if' expression (2051593223.py, line 1)

In [66]:
vendas_vg[vendas_vg['Publisher'].str.lower().str.contains('activision', na=False)]['Publisher'].value_counts()

Activision             975
Activision Value        29
Activision Blizzard      1
Name: Publisher, dtype: int64

In [67]:
vendas_vg[vendas_vg['Publisher'].str.lower().str.contains('activision', na=False)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
29,30,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
31,32,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
33,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77,5.81,0.35,2.31,14.24
34,35,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,4.99,5.88,0.65,2.52,14.03
35,36,Call of Duty: Black Ops II,X360,2012.0,Shooter,Activision,8.25,4.30,0.07,1.12,13.73
...,...,...,...,...,...,...,...,...,...,...,...
16411,16414,Teenage Mutant Ninja Turtles (3DS),3DS,2013.0,Action,Activision,0.01,0.00,0.00,0.00,0.01
16444,16447,Madagascar: Escape 2 Africa,PC,2008.0,Action,Activision,0.01,0.00,0.00,0.00,0.01
16501,16504,"Transformers: War for Cybertron (XBox 360, PS3...",PC,2010.0,Shooter,Activision,0.01,0.00,0.00,0.00,0.01
16537,16540,Transformers: Fall of Cybertron,PC,2012.0,Action,Activision,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01

In [49]:
pd.DataFrame(vendas_vg.Publisher.value_counts(normalize=True))

                              Publisher
Electronic Arts                0.081681
Activision                     0.058948
Namco Bandai Games             0.056348
Ubisoft                        0.055683
Konami Digital Entertainment   0.050302
...                                 ...
Warp                           0.000060
New                            0.000060
Elite                          0.000060
Evolution Games                0.000060
UIG Entertainment              0.000060

[578 rows x 1 columns]

In [50]:
vendas_vg[vendas_vg['Publisher'].str.contains("Act", na=False)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
29,30,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
31,32,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
33,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77,5.81,0.35,2.31,14.24
34,35,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,4.99,5.88,0.65,2.52,14.03
35,36,Call of Duty: Black Ops II,X360,2012.0,Shooter,Activision,8.25,4.30,0.07,1.12,13.73
...,...,...,...,...,...,...,...,...,...,...,...
16411,16414,Teenage Mutant Ninja Turtles (3DS),3DS,2013.0,Action,Activision,0.01,0.00,0.00,0.00,0.01
16444,16447,Madagascar: Escape 2 Africa,PC,2008.0,Action,Activision,0.01,0.00,0.00,0.00,0.01
16501,16504,"Transformers: War for Cybertron (XBox 360, PS3...",PC,2010.0,Shooter,Activision,0.01,0.00,0.00,0.00,0.01
16537,16540,Transformers: Fall of Cybertron,PC,2012.0,Action,Activision,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01

- Qual Console tem maior acervo de dados

In [69]:
vendas_vg.groupby('Platform')['Name'].count().sort_values(ascending=False)

Platform
DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
NES       98
GB        98
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
PCFX       1
GG         1
Name: Name, dtype: int64

In [73]:
vendas_vg.groupby('Platform')['NA_Sales'].sum().sort_values(ascending=False).head()

Platform
X360    601.05
PS2     583.84
Wii     507.71
PS3     392.26
DS      390.71
Name: NA_Sales, dtype: float64

In [74]:
vendas_vg.groupby('Platform')['EU_Sales'].sum().sort_values(ascending=False).head()

Platform
PS3     343.71
PS2     339.29
X360    280.58
Wii     268.38
PS      213.60
Name: EU_Sales, dtype: float64

In [75]:
vendas_vg.groupby('Platform')['JP_Sales'].sum().sort_values(ascending=False).head()

Platform
DS      175.57
PS      139.82
PS2     139.20
SNES    116.55
NES      98.65
Name: JP_Sales, dtype: float64

In [76]:
vendas_vg.groupby('Platform')['Other_Sales'].sum().sort_values(ascending=False).head()

Platform
PS2     193.44
PS3     141.93
X360     85.54
Wii      80.61
DS       60.53
Name: Other_Sales, dtype: float64

In [77]:
vendas_vg.groupby('Platform')['Global_Sales'].sum().sort_values(ascending=False).head()

Platform
PS2     1255.64
X360     979.96
PS3      957.84
Wii      926.71
DS       822.49
Name: Global_Sales, dtype: float64

In [72]:
vendas_vg.groupby('Platform')[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].sum().sort_values(ascending=False, by='EU_Sales')

          NA_Sales  EU_Sales  JP_Sales  Other_Sales
Platform
PS3         392.26    343.71     79.99       141.93
PS2         583.84    339.29    139.20       193.44
X360        601.05    280.58     12.43        85.54
Wii         507.71    268.38     69.35        80.61
PS          336.51    213.60    139.82        40.91
DS          390.71    194.65    175.57        60.53
PC           93.28    139.68      0.17        24.86
PS4          96.80    123.70     14.30        43.36
GBA         187.54     75.25     47.33         7.73
PSP         108.99     68.25     76.79        42.19
XB          186.69     60.95      1.38         8.72
3DS          78.87     58.52     97.35        12.63
GB          114.32     47.82     85.12         8.20
XOne         83.19     45.65      0.34        11.92
N64         139.02     41.06     34.22         4.38
GC          133.46     38.71     21.58         5.18
WiiU         38.32     24.23     12.79         6.45
NES         125.94     21.15     98.65         5.31
SNES         61.23     19.04    116.55         3.22
PSV          16.20     16.33     20.96         8.45
GEN          19.27      5.52      2.67         0.89
2600         90.60      5.47      0.00         0.91
DC            5.43      1.69      8.56         0.27
SAT           0.72      0.54     32.26         0.07
SCD           1.00      0.36      0.45         0.05
WS            0.00      0.00      1.42         0.00
TG16          0.00      0.00      0.16         0.00
3DO           0.00      0.00      0.10         0.00
GG            0.00      0.00      0.04         0.00
NG            0.00      0.00      1.44         0.00
PCFX          0.00      0.00      0.03         0.00

- Quais jogos estão disponiveis em todos os consoles?
- Entre 2000 e 2010 quantos jogos foram lançados?
- Qual é a media de vendas global por fabricante?

- lista de consoles
- pesquisar se algum jogo está em todas entradas da lista
-

In [ ]:
#31

In [91]:
vendas_vg.groupby('Name')['Platform'].count().sort_values(ascending=False)

Name
Need for Speed: Most Wanted                12
Ratatouille                                 9
Madden NFL 07                               9
FIFA 14                                     9
LEGO Marvel Super Heroes                    9
                                           ..
Import Tuner Challenge (American sales)     1
Impossible Creatures                        1
In Cold Blood                               1
In The Groove                               1
¡Shin Chan Flipa en colores!                1
Name: Platform, Length: 11493, dtype: int64

In [ ]:
# # quantas plataformas temos?
# len(vendas_vg['Platform'].unique())

# # QUantidade de plataformas or jogo
# vendas_vg['Name'].value_counts()

# #logo, não temos jogos em todas as plataformas.

# #Código para verificar os jogos que estão em todas as plats

# lista_jogos_teste = list(df_teste['nome'].unique())
# lista_consoles_teste = list(df_teste['plat'].unique())

# lista_jogos_em_todos_os_consoles_teste = [
#     jogo for jogo in lista_jogos_teste
#     if all(jogo in df_teste[df_teste['plat'] == console]['nome']teste_jogos = [{'nome': 'jogo1', 'plat': 'ps2'},
#                {'nome': 'jogo1', 'plat': 'ps3'},
#                {'nome': 'jogo1', 'plat': 'wii'},
#                {'nome': 'jogo2', 'plat': 'ps2'},
#                {'nome': 'jogo2', 'plat': 'ps3'},
#                ]
# .tolist() for console in lista_consoles_teste)
# ]

# print(lista_jogos_em_todos_os_consoles_teste)

In [ ]:
jogos_todos_consoles = num_consoles_por_jogo[num_consoles_por_jogo == vendas_vg['Platform'].nunique()]

In [80]:
vendas_vg[vendas_vg['Name'].str.contains('Call of Duty: Black Ops II')]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
34,35,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,4.99,5.88,0.65,2.52,14.03
35,36,Call of Duty: Black Ops II,X360,2012.0,Shooter,Activision,8.25,4.30,0.07,1.12,13.73
1217,1219,Call of Duty: Black Ops II,PC,2012.0,Shooter,Activision,0.63,0.69,0.00,0.21,1.53
4554,4556,Call of Duty: Black Ops II,WiiU,2012.0,Shooter,Activision,0.21,0.18,0.00,0.03,0.43

In [ ]:
vendas_vg['Name'].c

In [85]:
vendas_vg.groupby('Name')['Platform'].nunique()

Name
'98 Koshien                                1
.hack//G.U. Vol.1//Rebirth                 1
.hack//G.U. Vol.2//Reminisce               1
.hack//G.U. Vol.2//Reminisce (jp sales)    1
.hack//G.U. Vol.3//Redemption              1
                                          ..
thinkSMART: Chess for Kids                 1
uDraw Studio                               1
uDraw Studio: Instant Artist               2
wwe Smackdown vs. Raw 2006                 1
¡Shin Chan Flipa en colores!               1
Name: Platform, Length: 11493, dtype: int64

In [87]:
vendas_join = vendas_vg[['Name',"Platform"]].merge(vendas_vg[['Name',"Platform"]], on='Name',how='inner',suffixes=('_left', '_right'))

In [89]:
vendas_join[vendas_join.Platform_left != vendas_join.Platform_right]

                              Name Platform_left Platform_right
2                Super Mario Bros.           NES             GB
3                Super Mario Bros.            GB            NES
9                           Tetris            GB            NES
10                          Tetris           NES             GB
23              Grand Theft Auto V           PS3           X360
...                            ...           ...            ...
34928  Sakura-Sou no Pet na Kanojo           PSV            PSP
35083       Heart no Kuni no Alice           PSP            PS2
35084       Heart no Kuni no Alice           PS2            PSP
35105     Akatsuki no Goei Trinity           PSP            PS3
35106     Akatsuki no Goei Trinity           PS3            PSP

[18622 rows x 3 columns]

In [84]:
vendas_vg.Platform.value_counts()

DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
NES       98
GB        98
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
GG         1
PCFX       1
Name: Platform, dtype: int64

In [95]:
vendas_vg[(vendas_vg['Year']>=2000) & (vendas_vg['Year']<=2010)].sort_values(by='Year', ascending=False)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
5475,5477,Resonance of Fate,X360,2010.0,Role-Playing,Sega,0.12,0.13,0.06,0.03,0.33
11449,11451,Kaidan Restaurant: Ura Menu 100-Sen,DS,2010.0,Misc,Namco Bandai Games,0.00,0.00,0.08,0.00,0.08
15972,15975,Scared Rider Xechs,PS2,2010.0,Adventure,RED Entertainment,0.00,0.00,0.02,0.00,0.02
15974,15977,Misshitsu no Sacrifice,PSP,2010.0,Adventure,D3Publisher,0.00,0.00,0.02,0.00,0.02
11412,11414,10 Minute Solution,Wii,2010.0,Sports,Activision,0.06,0.01,0.00,0.01,0.08
...,...,...,...,...,...,...,...,...,...,...,...
7312,7314,NBA in the Zone 2000,PS,2000.0,Sports,Konami Digital Entertainment,0.12,0.08,0.00,0.01,0.21
5202,5204,NFL GameDay 2001,PS2,2000.0,Sports,Sony Computer Entertainment,0.18,0.14,0.00,0.05,0.36
5207,5209,Saban's Power Rangers: Lightspeed Rescue,N64,2000.0,Action,THQ,0.29,0.06,0.00,0.00,0.36
7250,7252,Capcom vs. SNK,DC,2000.0,Fighting,Virgin Interactive,0.00,0.00,0.22,0.00,0.22
10631,10633,Disney's Donald Duck: Goin' Quackers,N64,2000.0,Platform,Ubisoft,0.08,0.02,0.00,0.00,0.10

In [101]:
vendas_vg[(vendas_vg['Year']>=2000) & (vendas_vg['Year']<=2010)]['Name'].nunique()

7385

In [102]:
len(vendas_vg[(vendas_vg['Year']>=2000) & (vendas_vg['Year']<=2010)]['Name'].unique())

7385

In [106]:
vendas_vg.groupby(['Publisher', 'Year'])['Global_Sales'].mean().sort_values(ascending=False)

Publisher               Year
Nintendo                1985.0    7.135714
                        1989.0    7.097778
                        1988.0    6.073333
RedOctane               2006.0    5.120000
Microsoft Game Studios  1996.0    5.120000
                                    ...
Cave                    2013.0    0.010000
System Soft             2010.0    0.010000
Valcon Games            2010.0    0.010000
System Soft             2011.0    0.010000
Liquid Games            2006.0    0.010000
Name: Global_Sales, Length: 2321, dtype: float64

In [104]:
vendas_vg.groupby('Year')['Global_Sales'].mean().sort_values(ascending=False)

Year
1989.0    4.320588
1985.0    3.852857
1984.0    3.597143
1988.0    3.148000
1990.0    3.086875
1992.0    1.771163
1986.0    1.765238
1987.0    1.358750
1980.0    1.264444
1983.0    0.987647
1982.0    0.801667
1991.0    0.786098
1981.0    0.777609
1993.0    0.766333
1996.0    0.757224
1999.0    0.743402
1997.0    0.695433
2001.0    0.687697
1998.0    0.676702
2013.0    0.674194
1994.0    0.654298
2014.0    0.579124
2000.0    0.577536
2012.0    0.553333
2004.0    0.549554
2006.0    0.516905
2007.0    0.508428
2005.0    0.488778
2002.0    0.477105
2010.0    0.476926
2008.0    0.475420
2009.0    0.466317
2003.0    0.461742
2011.0    0.453020
2015.0    0.430684
1995.0    0.402329
2020.0    0.290000
2016.0    0.206192
2017.0    0.016667
Name: Global_Sales, dtype: float64

# 2. Análise Ocorrencias Aeronauticas

![ModeloDados](https://raw.githubusercontent.com/gnlins/class_datasets/main/OcorrenciasAeronauticas/modelo_dados_cenipa.webp)

In [6]:
MAIN_PATH = "https://raw.githubusercontent.com/gnlins/class_datasets/main/OcorrenciasAeronauticas"

ocorrencias = pd.read_csv(f"{MAIN_PATH}/ocorrencia.csv", sep=';',encoding='latin-1')

ocorrencia_tipo = pd.read_csv(f"{MAIN_PATH}/ocorrencia_tipo.csv", sep=';',encoding='latin-1')

recomendacao = pd.read_csv(f"{MAIN_PATH}/recomendacao.csv", sep=';',encoding='latin-1')

fator_contribuinte = pd.read_csv(f"{MAIN_PATH}/fator_contribuinte.csv", sep=';',encoding='latin-1')

In [7]:
ocorrencias.head()

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,83097,83097,83097,83097,83097,ACIDENTE,-2.352.777.777.777,-4.563.944.444.444,PARAIBUNA,SP,...,31/12/2023,18:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
1,83085,83085,83085,83085,83085,INCIDENTE,-9.868.333.333.333,-6.789.805.555.555,RIO BRANCO,AC,...,13/12/2023,11:33:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
2,83074,83074,83074,83074,83074,INCIDENTE,-1.962.444.444.444,-4.397.194.444.444,BELO HORIZONTE,MG,...,20/12/2023,20:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
3,83063,83063,83063,83063,83063,INCIDENTE,-1.587.111.111.111,-4.791.861.111.111,BRASÍLIA,DF,...,29/12/2023,21:20:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
4,83051,83051,83051,83051,83051,INCIDENTE,-4.871.388.888.888,-668.975,CARAUARI,AM,...,09/12/2023,18:30:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO

In [9]:
ocorrencia_tipo.head(10)

,codigo_ocorrencia1,ocorrencia_tipo,ocorrencia_tipo_categoria,taxonomia_tipo_icao
0,83097,INDETERMINADO,INDETERMINADO,UNK
1,83085,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,SCF-NP
2,83074,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
3,83063,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
4,83051,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
5,83044,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
6,83036,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
7,83035,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
8,83033,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
9,83032,COLISÃO COM AVE,COLISÃO COM AVE,BIRD